# **Inspecting a DataFrame**

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

**.head()** returns the first 5 rows as defult (the “head” of the DataFrame).

**.info()** shows information on each of the columns, such as the data type and number of missing values.

**.shape** returns the number of rows and columns of the DataFrame.

**.describe()** calculates a few summary statistics for each column.


---


# **Parts of a DataFrame**

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

**.values**: A two-dimensional NumPy array of values.

**.columns**: An index of columns: the column names.

**.index**: An index for the rows: either row numbers or row names.

In [7]:
import pandas as pd
df=pd.read_csv('/content/homelessness.csv',index_col=0)

In [11]:
print(df.head())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [13]:
print(df.shape)

(51, 5)

In [14]:
print(df.describe())

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [15]:
print(df.values)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]

In [17]:
print(df.columns)

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [18]:
print(df.index)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

# **Sorting rows**


---


Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to


**.sort_values().**

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.


one column:	`df.sort_values("breed")`

multiple columns:	`df.sort_values(["breed", "weight_kg"])`


By combining **.sort_values()** with .head(), you can answer questions in the form, "What are the top cases where…?".

By defult, .sort_values() shows us ascending order.

In [19]:
# Sort df by individuals
df_ind=df.sort_values('individuals')
print(df_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

In [21]:
# Sort df by descending family members
df_fam=df.sort_values('family_members', ascending=False)
print(df_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

In [24]:
# Sort df by region, then descending family members
df_r_f=df.sort_values(['region','family_members'],ascending=[True,False])
print(df_r_f)

                region                 state  individuals  family_members  \
13  East North Central              Illinois       6752.0          3891.0
35  East North Central                  Ohio       6929.0          3320.0
22  East North Central              Michigan       5209.0          3142.0
49  East North Central             Wisconsin       2740.0          2167.0
14  East North Central               Indiana       3776.0          1482.0
42  East South Central             Tennessee       6139.0          1744.0
17  East South Central              Kentucky       2735.0           953.0
0   East South Central               Alabama       2570.0           864.0
24  East South Central           Mississippi       1024.0           328.0
32        Mid-Atlantic              New York      39827.0         52070.0
38        Mid-Atlantic          Pennsylvania       8163.0          5349.0
30        Mid-Atlantic            New Jersey       6048.0          3350.0
5             Mountain              Colorado       7607.0          3250.0
2             Mountain               Arizona       7259.0          2606.0
44            Mountain                  Utah       1904.0           972.0
12            Mountain                 Idaho       1297.0           715.0
31            Mountain            New Mexico       1949.0           602.0
28            Mountain                Nevada       7058.0           486.0
26            Mountain               Montana        983.0           422.0
50            Mountain               Wyoming        434.0           205.0
21         New England         Massachusetts       6811.0         13257.0
6          New England           Connecticut       2280.0          1696.0
19         New England                 Maine       1450.0          1066.0
29         New England         New Hampshire        835.0           615.0
45         New England               Vermont        780.0           511.0
39         New England          Rhode Island        747.0           354.0
4              Pacific            California     109008.0         20964.0
47             Pacific            Washington      16424.0          5880.0
37             Pacific                Oregon      11139.0          3337.0
11             Pacific                Hawaii       4131.0          2399.0
1              Pacific                Alaska       1434.0           582.0
9       South Atlantic               Florida      21443.0          9587.0
8       South Atlantic  District of Columbia       3770.0          3134.0
33      South Atlantic        North Carolina       6451.0          2817.0
10      South Atlantic               Georgia       6943.0          2556.0
20      South Atlantic              Maryland       4914.0          2230.0
46      South Atlantic              Virginia       3928.0          2047.0
40      South Atlantic        South Carolina       3082.0           851.0
7       South Atlantic              Delaware        708.0           374.0
48      South Atlantic         West Virginia       1021.0           222.0
23  West North Central             Minnesota       3993.0          3250.0
25  West North Central              Missouri       3776.0          2107.0
15  West North Central                  Iowa       1711.0          1038.0
16  West North Central                Kansas       1443.0           773.0
27  West North Central              Nebraska       1745.0           676.0
41  West North Central          South Dakota        836.0           323.0
34  West North Central          North Dakota        467.0            75.0
43  West South Central                 Texas      19199.0          6111.0
36  West South Central              Oklahoma       2823.0          1048.0
18  West South Central             Louisiana       2540.0           519.0
3   West South Central              Arkansas       2280.0           432.0

    state_pop
13   12723071
35   11676341
22    9984072
49    5807406
14    6695497
42    6771631
17    4461153
0     4887681
24    2981020
32   19530351
38   12800922
30    8886025
5     5691287
2     7158024
44    3153550
12    1750536
31    2092741
28    3027341
26    1060665
50     577601
21    6882635
6     3571520
19    1339057
29    1353465
45     624358
39    1058287
4    39461588
47    7523869
37    4181886
11    1420593
1      735139
9    21244317
8      701547
33   10381615
10   10511131
20    6035802
46    8501286
40    5084156
7      965479
48    1804291
23    5606249
25    6121623
15    3148618
16    2911359
27    1925614
41     878698
34     758080
43   28628666
36    3940235
18    4659690
3     3009733

# **Subsetting columns**


---


When working with data, you may not need all of the variables in your dataset. Square brackets [ ] can be used to select only the columns that matter to you in an order that makes sense to you. 

To select only "col_a" of the DataFrame df, use

`df["col_a"]`

To select "col_a" and "col_b" of df, use

`df[["col_a", "col_b"]]`

In [27]:
# Select only the individuals and state columns, in that order
print(df[['individuals','state_pop']].head())

   individuals  state_pop
0       2570.0    4887681
1       1434.0     735139
2       7259.0    7158024
3       2280.0    3009733
4     109008.0   39461588

In [29]:
# Select the individuals column
print(df[['individuals']].head())

   individuals
0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0

# **Subsetting rows**


---




A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

There are many ways to subset a DataFrame, perhaps the most common is, first, we have subset a column in pandas series. Then we have to put the series as an index value in df.



```
series=df['value']

print(df[series]) or print(df[df['value'])
```



we can also put conditions inside [ ]

ex: print(df[series]==400)

Suppose, we have dogs dataframe, where height_cm & color are columns.
 
```
 dogs[dogs["height_cm"] > 60]

 dogs[dogs["color"] == "tan"]
```


You can filter for multiple conditions at once by using the "bitwise and" operator '&' and 'bitwise or' operator '|'

`dogs[(dogs["height_cm"] > 60) & (dogs["color"] == "tan")]`

`dogs[(dogs["height_cm"] > 60) | (dogs["color"] == "tan")]`

In [30]:
# Filter for rows where individuals is greater than 10000
print(df[df['individuals']>10000])

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [31]:
# Filter for rows where region is Mountain
print(df[df['region']=='Mountain'])

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [32]:
# Filter for rows where family_members is less than 1000 and region is Pacific
print(df[(df['family_members']<1000)&(df['region']=='Pacific')])

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

# **Subsetting rows by categorical variables**


---


Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, (for example, 1st code). 

Instead, use the **.isin()** method, which will allow you to tackle this problem by writing one condition instead of three separate ones. (for example , 2nd code)

in .isin() method, first we have to create a list and then we have to put this list in .isin(list)

In [33]:
#1st code, doing with or operator
#Subset for rows of Desert State (Arizona or California or Nevada or Utah state)
print(df[(df['state']=='Arizona')|
         (df['state']=='California')|
         (df['state']=='Nevada')|
         (df['state']=='Utah')])

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

In [34]:
#2nd code, doing with .isin()
#Subset for rows of Desert State (Arizona or California or Nevada or Utah state)
acnu = ["Arizona", "California", "Nevada", "Utah"]
print(df[df['state'].isin(acnu)])

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

## **Adding new columns**


---





You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.

In [35]:
#Add 'total' column as sum of individuals and family_members
df['total']=df['individuals']+df['family_members']
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total
0    3434.0
1    2016.0
2    9865.0
3    2712.0
4  129972.0

In [36]:
#Add 'p_ind' column as proportion of individuals and total
df['p_ind']=df['individuals']/df['total']
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total     p_ind
0    3434.0  0.748398
1    2016.0  0.711310
2    9865.0  0.735834
3    2712.0  0.840708
4  129972.0  0.838704

## Which state has the highest number of homeless individuals per 10,000 people in the state? Print out the 'result'.



---

In [37]:
#'ind_10k' column as df 'individuals' per 10k 'state pop'
df['ind_10k']=(df['individuals']/df['state_pop'])*10000
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total     p_ind    ind_10k
0    3434.0  0.748398   5.258117
1    2016.0  0.711310  19.506515
2    9865.0  0.735834  10.141067
3    2712.0  0.840708   7.575423
4  129972.0  0.838704  27.623825

In [40]:
#Subset rows for 'ind_10k' greater than 20
high_ind=df[df['ind_10k']>20]
print(high_ind)

            region                 state  individuals  family_members  \
4          Pacific            California     109008.0         20964.0
8   South Atlantic  District of Columbia       3770.0          3134.0
11         Pacific                Hawaii       4131.0          2399.0
28        Mountain                Nevada       7058.0           486.0
32    Mid-Atlantic              New York      39827.0         52070.0
37         Pacific                Oregon      11139.0          3337.0
47         Pacific            Washington      16424.0          5880.0

    state_pop     total     p_ind    ind_10k
4    39461588  129972.0  0.838704  27.623825
8      701547    6904.0  0.546060  53.738381
11    1420593    6530.0  0.632619  29.079406
28    3027341    7544.0  0.935578  23.314189
32   19530351   91897.0  0.433387  20.392363
37    4181886   14476.0  0.769481  26.636307
47    7523869   22304.0  0.736370  21.829195

In [42]:
#Sorting high_ind by descending ind_10k
highest_ind=high_ind.sort_values('ind_10k',ascending=False)
print(highest_ind)

            region                 state  individuals  family_members  \
8   South Atlantic  District of Columbia       3770.0          3134.0
11         Pacific                Hawaii       4131.0          2399.0
4          Pacific            California     109008.0         20964.0
37         Pacific                Oregon      11139.0          3337.0
28        Mountain                Nevada       7058.0           486.0
47         Pacific            Washington      16424.0          5880.0
32    Mid-Atlantic              New York      39827.0         52070.0

    state_pop     total     p_ind    ind_10k
8      701547    6904.0  0.546060  53.738381
11    1420593    6530.0  0.632619  29.079406
4    39461588  129972.0  0.838704  27.623825
37    4181886   14476.0  0.769481  26.636307
28    3027341    7544.0  0.935578  23.314189
47    7523869   22304.0  0.736370  21.829195
32   19530351   91897.0  0.433387  20.392363

In [44]:
result=highest_ind[['state','ind_10k']]
print(result)

                   state    ind_10k
8   District of Columbia  53.738381
11                Hawaii  29.079406
4             California  27.623825
37                Oregon  26.636307
28                Nevada  23.314189
47            Washington  21.829195
32              New York  20.392363

So, 'District of Columbia' state has the highest number of homeless individuals per 10,000 people in the state.